<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Panel administratora</title>
    <th:block th:insert="/fragments :: head"></th:block>
</head>
<body>

<!--Navigation bar-->
<nav id='menu' th:insert="fragments :: #admin-menu"></nav>

<div class="horizontal-center">
    <h3 class="beige-text-box">Zgłoszenia do akceptacji</h3>
</div>
<div class="center">
    <div th:if="${studentSubmissions.isEmpty()}" class="gray-text-box">
        <h2>Brak nowych zgłoszeń</h2>
    </div>
</div>
<div th:if="${!studentSubmissions.isEmpty()}">
    <table class="blueTable">
        <thead>
        <tr>
            <th>Data</th>
            <th>Student</th>
            <th>Kod kursu</th>
            <th>Zgłoszenie</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="submission:${studentSubmissions}">
            <td th:text="${submission.getSubmissionDate()}">submission</td>
            <td th:text="${submission.getStudentFullName()}">full name</td>
            <td th:text="${submission.getCourseEdition()}">course edition</td>
            <td>
                <form class="form-button" method="POST"
                      th:action="@{'/submissions/' + ${submission.getId()} + '/accept'}">
                    <button type=submit name="confirm" class="blueButton">Zatwierdź</button>
                </form>
                <form class="form-button" method="POST"
                      th:action="@{'/submissions/' + ${submission.getId()} + '/delete'}">
                    <button type=submit name="delete" class="redButton">Usuń</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<div th:insert="fragments :: scripts"></div>
</body>
</html>