<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Panel administratora</title>
    <link th:href="@{../bootstrap.min.css}" rel="stylesheet" type="text/css">
    <link th:href="@{menu.css}" rel="stylesheet" type="text/css">
    <link th:href="@{../style.css}" rel="stylesheet" type="text/css">
</head>
<body>

<!--Navigation bar-->
<div id="menu-placeholder"></div>

<div class="horizontal-center">
    <h3 class="beige-text-box">Utwórz kurs</h3>
</div>

<form>
    <div class="form-group col-sm-12 col-md-4 offset-md-2">
        <label for="courseName">Nazwa kursu</label>
        <div class="input-group">
            <input id="courseName" name="lessonBlockName" type="text" required="required"
                   class="form-control">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button">Zapisz kurs</button>
            </div>
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button">Wyczyść formularz</button>
            </div>
        </div>
    </div>
</form>
<br>
<div class="col-12">
    <div class="row">
        <div id="lessons-blocks-all" class="col-md-4 offset-md-2">
            <label for="lessons-blocks-all">Bloki zajęć:</label>
            <div class="list-group" id="lessons-blocks-tab" role="tablist">

                <a class="list-group-item list-group-item-action" data-toggle="list"
                   role="tab" aria-controls="home"
                   th:if="${course.getLessonsBlocks().isEmpty()}">Brak bloków zajęć</a>

                <a class="list-group-item list-group-item-action" data-toggle="list"
                   role="tab" aria-controls="home"
                   th:if="${!course.getLessonsBlocks().isEmpty()}"
                   th:each="lessonsBlock:${course.getLessonsBlocks()}"
                   th:href="@{'#' + ${lessonsBlock.getId()} }"
                   th:text="${lessonsBlock.getName()}">Nazwa bloku</a>

            </div>
        </div>

        <div class="col-md-4">
            <label for="lesson-list">Zajęcia w bloku:</label>
            <div class="tab-content" id="lessons-tab">

                <div class="tab-pane fade" role="tabpanel"
                     th:each="lessonsBlock:${course.getLessonsBlocks()}"
                     th:id="${lessonsBlock.getId()}">

                    <div class="list-group" id="lesson-list" role="tablist">


                        <a class="list-group-item list-group-item-action "
                           data-toggle="list" href="#" role="tab" aria-controls="home"
                           th:each="lesson:${lessonsBlock.getLessons()}"
                           th:text="${lesson}">Home</a>


                    </div>
                </div>

                <div class="tab-pane fade show active" id="lesson-tab-default" role="tabpanel"
                     aria-labelledby="list-profile-list">
                    Wybierz blok zajęć.
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<div class="col-12">
    <div class="col-md-8 offset-md-2">
        <h4 class="beige-text-box horizontal-center">Dodaj blok zajęć</h4>
    </div>
    <br>
    <div class="row">
        <div class="form-group col-sm-12 col-md-3 offset-md-2">
            <label for="lessonBlockName">Nazwa bloku</label>
            <div class="input-group">
                <input id="lessonBlockName" name="lessonBlockName" type="text" required="required"
                       class="form-control">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button">Dodaj blok</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-4 offset-md-2">
            <label for="lessons">Tematy zajęć:</label>
            <ul id="lessons" class="list-group">
                <li class="list-group-item"
                    th:if="${!lessonsBlock.getLessons().isEmpty()}"
                    th:each="lesson:${lessonsBlock.getLessons()}"
                    th:text="${lesson}">Lekcja
                </li>
                <li class="list-group-item"
                    th:if="${lessonsBlock.getLessons().isEmpty()}">
                    Brak zajęć w boku
                </li>
            </ul>
        </div>

        <div class="col-sm-12 col-md-4">
            <form method="post" th:object="${courseCreatorForm}" th:action="@{/admin/course-creator}" id="addLessonForm">
                <input type="hidden" th:field="*{course}" name="course" id="course">
                <input type="hidden" th:field="*{lessonsBlock}" name="lessonBlock" id="lessonBlock">
                <label for="addLesson">Dodaj zajęcia</label>
                <div id="addLesson" class="input-group mb-3">

                    <div class="input-group-prepend">
                        <button class="btn btn-outline-secondary" type="submit">+</button>
                    </div>
                    <input type="text" class="form-control" placeholder="temat zajęć" aria-label=""
                           aria-describedby="basic-addon1" name="lessonSubject" >

                </div>
            </form>
        </div>

    </div>
</div>

<br>


<br>
<script th:src="@{//code.jquery.com/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{menu.js}"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
<script type="text/javascript" th:src="@{../bootstrap.min.js}"></script>
</body>
</html>