<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Panel administratora</title>
    <link th:href="@{/bootstrap.min.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/admin/menu.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/style.css}" rel="stylesheet" type="text/css">
</head>
<body>

<!--Navigation bar-->
<div id="menu-placeholder"></div>

<div class="horizontal-center">
    <h3 class="beige-text-box">Podsumowanie</h3>
</div>

<div class="col-sm-12 col-md-4 offset-md-4"
     th:if="${course!=null}">
    <div th:text="'Kurs: ' + ${course.getName()}">nazwa kursu
    </div>

    <div class="offset-1" th:if="${course.lessonsBlocks.size()>0}">
        Bloki:
        <ul>
            <li th:each="lessonBlock:${course.getLessonsBlocks()}"
                th:if="${lessonBlock.getName()!=null}">
                <div th:text="${lessonBlock.getName()}">nazwa bloku</div>
                <ul>
                    <li th:each="lesson:${lessonBlock.getLessons()}"
                        th:text="${lesson}">lekcja
                    </li>
                </ul>
            </li>
        </ul>
    </div>

</div>
<form th:action="@{/admin/course-wizard/cname}" method="post" th:object="${course}">
    <div class="form-group col-sm-12 col-md-4 offset-md-4">
        <div class="input-group">
            <input hidden th:field="*{name}" th:value="${course.getName()}">

            <div th:each="lessonBlock, blockStat:${course.getLessonsBlocks()}">
                <input hidden th:field="*{lessonsBlocks[__${blockStat.index}__].name}"
                       th:if="${lessonBlock.getName()!=null}"
                       th:value="${lessonBlock.getName()}">
                <div th:each="lesson, lessonStat:${lessonBlock.getLessons()}">
                    <input hidden
                           th:field="*{lessonsBlocks[__${blockStat.index}__].lessons[__${lessonStat.index}__]}"
                           th:if="${!lesson.isBlank()}"
                           th:value="${lesson}">
                </div>
            </div>

            <button class="btn btn-outline-secondary" type="submit">
                Nowy blok >
            </button>

        </div>
    </div>
</form>
<form th:action="@{/admin/course-wizard/edit}" method="post" th:object="${course}">
    <div class="form-group col-sm-12 col-md-4 offset-md-4">
        <div class="input-group">
            <input hidden th:field="*{name}" th:value="${course.getName()}">

            <div th:each="lessonBlock, blockStat:${course.getLessonsBlocks()}">
                <input hidden th:field="*{lessonsBlocks[__${blockStat.index}__].name}"
                       th:if="${lessonBlock.getName()!=null}"
                       th:value="${lessonBlock.getName()}">
                <div th:each="lesson, lessonStat:${lessonBlock.getLessons()}">
                    <input hidden
                           th:field="*{lessonsBlocks[__${blockStat.index}__].lessons[__${lessonStat.index}__]}"
                           th:if="${!lesson.isBlank()}"
                           th:value="${lesson}">
                </div>
            </div>

            <button class="btn btn-outline-secondary" type="submit">
                Edytuj kurs
            </button>

        </div>
    </div>
</form>
<form th:action="@{/admin/course-wizard/save}" method="post" th:object="${course}">
    <div class="form-group col-sm-12 col-md-4 offset-md-4">
        <div class="input-group">
            <input hidden th:field="*{name}" th:value="${course.getName()}">

            <div th:each="lessonBlock, blockStat:${course.getLessonsBlocks()}">
                <input hidden th:field="*{lessonsBlocks[__${blockStat.index}__].name}"
                       th:if="${lessonBlock.getName()!=null}"
                       th:value="${lessonBlock.getName()}">
                <div th:each="lesson, lessonStat:${lessonBlock.getLessons()}">
                    <input hidden
                           th:field="*{lessonsBlocks[__${blockStat.index}__].lessons[__${lessonStat.index}__]}"
                           th:if="${!lesson.isBlank()}"
                           th:value="${lesson}">
                </div>
            </div>

            <button class="btn btn-outline-secondary" type="submit" autofocus>
                Zapisz
            </button>

        </div>
    </div>
</form>


<script th:src="@{//code.jquery.com/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/admin/menu.js}"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
<script type="text/javascript" th:src="@{/bootstrap.min.js}"></script>
</body>
</html>