<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Panel administratora</title>
    <th:block th:insert="/fragments :: head"></th:block>
</head>
<body>

<!--Navigation bar-->
<nav id='menu' th:insert="fragments :: #admin-menu"></nav>

<div class="horizontal-center">
    <h3 class="beige-text-box">Edycja szablonu</h3>
</div>


<form th:action="@{/admin/course-edit/save}" method="post" th:object="${course}">
    <div class="col-sm-12 col-md-6 offset-md-3">
        <div class="row">

            <th:block th:insert="fragments :: course-edit"></th:block>

            <div class="col-12 p-1">
                <button class="btn btn-outline-secondary" type="submit">
                    Zapisz
                </button>
            </div>
        </div>
    </div>
</form>


<div th:insert="fragments :: scripts"></div>

</body>
</html>