<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Panel administratora</title>
    <th:block th:insert="/fragments :: head"></th:block>
</head>
<body>

<div id="user-bar" th:include="fragments :: #user-bar"></div>
<!--Navigation bar-->
<nav id='menu' th:insert="fragments :: #admin-menu"></nav>

<div class="horizontal-center">
    <h3 class="beige-text-box">Utwórz kurs</h3>
</div>

<form th:action="@{/admin/course-wizard/cname}" method="post" th:object="${course}">
    <div class="form-group col-sm-12 col-md-4 offset-md-4">
        <label for="courseName">Nazwa kursu</label>
        <div class="input-group">
            <input id="courseName" name="courseName" type="text" required="required" autofocus
                   class="form-control" th:field="*{name}" placeholder="nazwa kursu">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="submit">Dalej ></button>
            </div>
        </div>
    </div>
</form>

<div th:insert="fragments :: scripts"></div>
</body>
</html>