<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Panel studenta</title>
    <th:block th:insert="/fragments :: head"></th:block>
</head>
<body>

<div id="user-bar" th:include="fragments :: #user-bar"></div>
<!--Navigation bar-->
<nav id='menu' th:insert="fragments :: #main-menu"></nav>

<div class="center">
    <div class="gray-text-box">
        <h2>Zgłoszenie zostało przyjęte</h2>
    </div>
</div>


<div th:insert="fragments :: scripts"></div>

</body>
</html>