<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Panel studenta</title>
    <th:block th:insert="/fragments :: head"></th:block>
</head>
<body>

<div id="user-bar" th:include="fragments :: #user-bar"></div>
<!--Navigation bar-->
<nav id='menu' th:insert="fragments :: #main-menu"></nav>

<div class="horizontal-center">
    <h3 class="beige-text-box">Wybierz kurs</h3>
</div>

<form th:action="@{/submission}" method="post">
    <div class="form-group col-sm-12 col-md-4 offset-md-4">
        <div class="input-group">
            <select class="form-control" name="chosenCourseId" autofocus>
                <option th:each="course:${coursesToChoose}"
                        th:value="${course.id}"
                        th:text="${course.name}"
                        name="id">Course name
                </option>
            </select>
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="submit">Dalej ></button>
            </div>
        </div>
    </div>
</form>

<div th:insert="fragments :: scripts"></div>

</body>
</html>