<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <link th:href="@{/bootstrap.min.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/admin/menu.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/style.css}" rel="stylesheet" type="text/css">
</head>
<body>

<nav id='admin-menu'>
    <input type='checkbox' id='responsive-menu' onclick='updatemenu()'><label></label>
    <ul>
        <li><a href='/'>Strona główna</a></li>
        <li><a class='dropdown-arrow' href='http://'>Szablony kursów</a>
            <ul class='sub-menus'>
                <li><a href='/admin/course-wizard'>Utwórz szablon</a></li>
                <li><a href='/admin/course-edit'>Edytuj szablon</a></li>
            </ul>
        </li>
        <li><a class='dropdown-arrow' href='http://'>Edycje</a>
            <ul class='sub-menus'>
                <li><a href='http://'>Otwórz nową edycję</a></li>
                <li><a href='http://'>Edytuj kurs</a></li>
            </ul>
        </li>
        <li><a href='/admin/accept-submissions'>Zgłoszenia do akceptacji</a></li>
    </ul>
</nav>


<th:block th:fragment='course-edit'>
    <div class="col-12 p-1">
        <label for="courseName">Nazwa kursu:</label>
        <input id="courseName" class="form-control" required
               th:field="*{name}"
               th:value="${course.getName()}">
        <input hidden
               th:field="*{id}"
               th:value="${course.id}">
    </div>

    <div class="col-sm-12 col-md-6 p-1"
         th:each="lessonBlock, blockStat:${course.getLessonsBlocks()}">
        <div class="gray-border-box"
             th:if="${lessonBlock.getName()!=null}">

            <label th:for="${'blockName' + blockStat.index}">Blok:</label>
            <input class="form-control" required
                   th:id="${'blockName' + blockStat.index}"
                   th:field="*{lessonsBlocks[__${blockStat.index}__].name}"
                   th:value="${lessonBlock.getName()}">
            <input hidden
                   th:field="*{lessonsBlocks[__${blockStat.index}__].id}"
                   th:value="${lessonBlock.id}">
            Zajęcia:
            <div th:each="lesson, lessonStat:${lessonBlock.getLessons()}">
                <div th:if="${lesson.subject != null && !lesson.subject.isBlank()}">
                    <input class="form-control" required
                           th:field="*{lessonsBlocks[__${blockStat.index}__].lessons[__${lessonStat.index}__].subject}"
                           th:value="${lesson.subject}">
                    <input hidden
                           th:field="*{lessonsBlocks[__${blockStat.index}__].lessons[__${lessonStat.index}__].id}"
                           th:value="${lesson.id}">
                </div>
            </div>
        </div>
    </div>
</th:block>


<th:block th:fragment='course-data'>
    <input hidden
           th:field="*{name}"
           th:value="${course.getName()}">

    <input hidden
           th:field="*{id}"
           th:value="${course.id}">

    <div th:each="lessonBlock, blockStat:${course.getLessonsBlocks()}">
        <div th:if="${lessonBlock.getName()!=null}">
            <input hidden
                   th:field="*{lessonsBlocks[__${blockStat.index}__].name}"
                   th:value="${lessonBlock.getName()}">
            <input hidden
                   th:field="*{lessonsBlocks[__${blockStat.index}__].id}"
                   th:value="${lessonBlock.id}">
            <div th:each="lesson, lessonStat:${lessonBlock.getLessons()}">
                <div th:if="${lesson.subject != null && !lesson.subject.isBlank()}">
                    <input hidden
                           th:field="*{lessonsBlocks[__${blockStat.index}__].lessons[__${lessonStat.index}__].subject}"
                           th:value="${lesson.subject}">
                    <input hidden
                           th:field="*{lessonsBlocks[__${blockStat.index}__].lessons[__${lessonStat.index}__].id}"
                           th:value="${lesson.id}">
                </div>
            </div>
        </div>
    </div>
</th:block>

<div th:fragment="scripts">
    <script th:src="@{//code.jquery.com/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/admin/menu.js}"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
            integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
            crossorigin="anonymous"></script>
    <script type="text/javascript" th:src="@{/bootstrap.min.js}"></script>
</div>
</body>
</html>