<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css">
</head>
<body>

<div id="user-bar">
    Zalogowany:
    <label th:text="${#authentication.getPrincipal().login.value()}"></label>
    |
    <a href="javascript: document.logoutForm.submit()">Wyloguj</a>
    <form name="logoutForm" th:action="@{/logout}" method="post" th:hidden="true">
        <input hidden type="submit" value="Logout"/>
    </form>
</div>

<nav id='admin-menu'>
    <input type='checkbox' id='responsive-menu' onclick='updatemenu()'><label></label>
    <ul>
        <li><a href='/'>Strona główna</a></li>
        <li><a class='dropdown-arrow' href='http://'>Szablony kursów</a>
            <ul class='sub-menus'>
                <li><a href='/admin/course-wizard'>Utwórz szablon</a></li>
                <li><a href='/admin/course-edit'>Edytuj szablon</a></li>
            </ul>
        </li>
        <li><a class='dropdown-arrow' href='http://'>Edycje</a>
            <ul class='sub-menus'>
                <li><a href='/admin/courses-editions/new'>Otwórz nową edycję</a></li>
                <li><a href='/admin/courses-editions/edit'>Edytuj kurs</a></li>
            </ul>
        </li>
        <li><a class='dropdown-arrow' href='/admin/trainers'>Trenerzy</a>
            <ul class='sub-menus'>
                <li><a href='/admin/trainers/grant-role'>Nadaj uprawnienia</a></li>
            </ul>
        </li>
        <li><a href='http://'>Kursanci</a></li>
        <li><a href='/admin/accept-submissions'>Zgłoszenia</a></li>
    </ul>
</nav>

<nav id='student-menu'>
    <input type='checkbox' id='responsive-menu' onclick='updatemenu()'><label></label>
    <ul>
        <li><a href='/'>Strona główna</a></li>
        <li><a href='/student/schedule'>Kalendarz</a>
        <li><a href='/student/blocks'>Bloki zajęć</a></li>
        <li><a href='/student/notifications'>Powiadomienia</a></li>
    </ul>
</nav>

<nav id='trainer-menu'>
    <input type='checkbox' id='responsive-menu' onclick='updatemenu()'><label></label>
    <ul>
        <li><a href='/'>Strona główna</a></li>
        <li><a href='/trainer/courses'>Kursy</a>
        <li><a href='/trainer/blocks'>Bloki zajęć</a></li>
        <li><a href='/trainer/lessons'>Zajęcia</a></li>
        <li><a href='http://'>Kalendarz</a></li>
    </ul>
</nav>

<nav id='main-menu'>
    <input type='checkbox' id='responsive-menu' onclick='updatemenu()'><label></label>
    <ul>
        <li><a href='/'>Strona główna</a></li>
        <li><a class='dropdown-arrow' href='http://'>Panel</a>
            <ul class='sub-menus'>
                <li><a href='/admin'>Administracyjny</a></li>
                <li><a href='/trainer'>Nauczyciela</a></li>
                <li><a href='/student'>Ucznia</a></li>
            </ul>
        </li>
        <li><a href='/register'>Rejestracja</a></li>
        <li><a href='/login'>Logowanie</a></li>
    </ul>
</nav>

<th:block th:fragment='lessons-details'>

    <div class="horizontal-center">
        <h3 class="beige-text-box">Zajęcia</h3>
    </div>
    <div class="center">
        <div th:if="${lessons.isEmpty()}" class="gray-text-box">
            <h2>Brak zajęć</h2>
        </div>
    </div>

    <div th:if="${!lessons.isEmpty()}" class="p-1">
        <form th:action="@{/lesson}" method="post">
            <table class="blueTable col-md-8 offset-sm-2 col-sm-12">
                <thead>
                <tr>
                    <th>Temat</th>
                    <th>Data</th>
                    <th>Objętość (min)</th>
                    <th>Adres</th>
                    <th>Kod kursu</th>
                    <th></th>

                </tr>
                </thead>
                <tbody>
                <tr th:each="lesson:${lessons}">
                    <td th:text="${lesson.subject}">subject</td>
                    <td th:text="${lesson.dateTime}">date</td>
                    <td th:text="${lesson.duration}">duration</td>
                    <td th:text="${lesson.address}">address</td>
                    <td th:text="${lesson.courseCode}">course code</td>

                    <td>
                        <input required name="editionCode" type="radio" th:value="${lesson.id}">
                    </td>
                </tr>
                </tbody>
            </table>
            <br>
            <div class="horizontal-center">
                <button class="btn btn-outline-secondary" type="submit">
                    Wybierz
                </button>
            </div>
        </form>
    </div>

</th:block>

<th:block th:fragment='course-edit'>
    <div class="col-12 p-1">
        <label for="courseName">Nazwa kursu:</label>
        <input id="courseName" class="form-control" required
               th:field="*{name}"
               th:value="${course.getName()}">
        <input hidden
               th:field="*{id}"
               th:value="${course.id}">
    </div>

    <div class="col-sm-12 col-md-6 p-1"
         th:each="lessonBlock, blockStat:${course.getLessonsBlocks()}">
        <div class="gray-border-box"
             th:if="${lessonBlock.getName()!=null}">

            <label th:for="${'blockName' + blockStat.index}">Blok:</label>
            <input class="form-control" required
                   th:id="${'blockName' + blockStat.index}"
                   th:field="*{lessonsBlocks[__${blockStat.index}__].name}"
                   th:value="${lessonBlock.getName()}">
            <input hidden
                   th:field="*{lessonsBlocks[__${blockStat.index}__].id}"
                   th:value="${lessonBlock.id}">
            Zajęcia:
            <div th:each="lesson, lessonStat:${lessonBlock.getLessons()}">
                <div th:if="${lesson.subject != null && !lesson.subject.isBlank()}">
                    <input class="form-control" required
                           th:field="*{lessonsBlocks[__${blockStat.index}__].lessons[__${lessonStat.index}__].subject}"
                           th:value="${lesson.subject}">
                    <input hidden
                           th:field="*{lessonsBlocks[__${blockStat.index}__].lessons[__${lessonStat.index}__].id}"
                           th:value="${lesson.id}">
                </div>
            </div>
        </div>
    </div>
</th:block>


<th:block th:fragment='course-data'>
    <input hidden
           th:field="*{name}"
           th:value="${course.getName()}">

    <input hidden
           th:field="*{id}"
           th:value="${course.id}">

    <div th:each="lessonBlock, blockStat:${course.getLessonsBlocks()}">
        <div th:if="${lessonBlock.getName()!=null}">
            <input hidden
                   th:field="*{lessonsBlocks[__${blockStat.index}__].name}"
                   th:value="${lessonBlock.getName()}">
            <input hidden
                   th:field="*{lessonsBlocks[__${blockStat.index}__].id}"
                   th:value="${lessonBlock.id}">
            <div th:each="lesson, lessonStat:${lessonBlock.getLessons()}">
                <div th:if="${lesson.subject != null && !lesson.subject.isBlank()}">
                    <input hidden
                           th:field="*{lessonsBlocks[__${blockStat.index}__].lessons[__${lessonStat.index}__].subject}"
                           th:value="${lesson.subject}">
                    <input hidden
                           th:field="*{lessonsBlocks[__${blockStat.index}__].lessons[__${lessonStat.index}__].id}"
                           th:value="${lesson.id}">
                </div>
            </div>
        </div>
    </div>
</th:block>

<div th:fragment="scripts">
    <script th:src="@{//code.jquery.com/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/menu.js}"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
            integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
            crossorigin="anonymous"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
</div>
</body>
</html>